<div class="heading-page header-text" style="padding-top:0">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h4>Hakkımızda</h4>
                        <h2>Bizim Hakkımızda</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Banner Ends Here -->


<section class="about-us">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <img src="~/stand-blog/assets/images/about-us.jpg" alt="">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget finibus risus, non placerat tortor. Ut dictum nisl malesuada venenatis porta. Integer convallis fringilla tortor eget faucibus. Quisque arcu tellus, imperdiet in maximus in, tempus et eros. Donec vel risus eget nisl lacinia maximus. Phasellus vel volutpat nunc, sit amet facilisis mauris. Donec ipsum nibh, pretium eu dui rhoncus, aliquet posuere ipsum. Fusce vel euismod dolor, eleifend ornare eros. Quisque vel sem ut metus tempor fringilla. Donec viverra ex sed odio ullamcorper, quis finibus mauris ornare. Donec fringilla nunc at diam tempus venenatis. Integer faucibus est et arcu porttitor, vitae sollicitudin tellus bibendum. Morbi condimentum, ipsum ac mattis vulputate, dolor libero iaculis neque, ut viverra erat ipsum vel libero. Sed nec semper metus.

                    Aliquam justo erat, mollis eget lacus sed, vestibulum vestibulum mi. Proin non felis sed tellus ornare rhoncus. Quisque consequat felis a sem laoreet, vel facilisis metus viverra. Aenean aliquam malesuada nisi, vel pulvinar dolor ultricies quis. Vestibulum mollis, enim in condimentum eleifend, purus lacus accumsan metus, ut viverra nisl felis in lectus. Phasellus malesuada interdum augue in lacinia. Fusce id sem nec massa imperdiet mollis nec vitae ligula. Etiam ut nunc dolor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed nec orci lorem. Phasellus arcu ante, molestie in volutpat a, condimentum eu mauris. Suspendisse pellentesque diam quis diam ultricies, sit amet tincidunt purus placerat. Pellentesque egestas sed turpis vel rhoncus. Vestibulum vitae magna tristique, mattis libero a, pretium eros. Curabitur lacinia nunc.
                </p>
            </div>
        </div>
        <section class="contact-us">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12">
                        <div class="down-contact">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="sidebar-item contact-form">
                                        <div class="sidebar-heading">
                                            <h2>BIZE ULAŞIN</h2>
                                        </div>
                                        <div class="content">
                                            <form id="contact" action="" method="post">
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-12">
                                                        <fieldset>
                                                            <input name="name" type="text" id="name" placeholder="ADINIZ" required="">
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <fieldset>
                                                            <input name="email" type="text" id="email" placeholder="EMAİL" required="">
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12">
                                                        <fieldset>
                                                            <input name="subject" type="text" id="KONU" placeholder="Subject">
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <fieldset>
                                                            <textarea name="message" rows="6" id="MESAJ" placeholder="Your Message" required=""></textarea>
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <fieldset>
                                                            <button type="submit" id="form-submit" class="main-button">Mesaj Gönder</button>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="sidebar-item contact-information">
                                        <div class="sidebar-heading">
                                            <h2 style="font-weight:500;">İletişim Bilgileri</h2>
                                        </div>
                                        <div class="content">
                                            <ul>
                                                <li>
                                                    <h5 style="font-weight:500;">0554 545 54 54</h5>
                                                    <span>TELEFON NUMARASI</span>
                                                </li>
                                                <li>
                                                    <h5 style="font-weight:500;">info@blogger.com</h5>
                                                    <span>EMAIL ADRESI</span>
                                                </li>
                                                <li>
                                                    <h5 style="font-weight:500;">
                                                        214 Sok. Gülce Cadde
                                                        <br>İstanbul / Beyoğlu
                                                    </h5>
                                                    <span>ADRES</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div id="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12084.164409696154!2d28.9792727!3d41.0291627!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac00b9f87828b%3A0x87522ea2960eaeb!2sBeyo%C4%9Flu%2C%20Istanbul!5e0!3m2!1sen!2str!4v1608702248822!5m2!1sen!2str" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </div>
                    </div>


                </div>
            </div>
        </section>
    </div>
</section>
